<div class="mceTmpl"  style="width:725px;">
    <!-- <img style="height:80px" src="https://cfp-taka0o.c9users.io/resources/img/centre_prof_alma.jpg">*/ -->
    <hr>
    <div><h3 style="text-align:center;">PROTOCOLE D'ENTENTE<br>STAGE EN FORMATION PROFESSIONNELLE<br>ALTERNANCE TRAVAIL-ÉTUDES</h3></div>
    
    <div  style="border: 1px solid black; padding: 5px;width:725px;">
        
        <p>Le présent protocole d'entente stipule les engagements et les responsabilités (voir au verso) de chacun des partenaires représentés par les parties identifiées ci-après. Ce contrat peut, après entente, être résilié en tout temps par l'une ou l'autre des parties.</p>
        <hr>
        
        <div>
                <p><strong>1.</strong><strong style="margin-left: 25px;">LE CENTRE DE FORMATION PROFESSIONNELLE {ETUDIANT.SCHOOL}</strong></p>
                <div style="margin-left: 30px">
                    <div style="width: 100px;">Adresse :</div>
                    <div style="width: 100px;border-bottom: 1px solid black;">&nbsp;</div>
                </div>
                
                 <div style="width:92%;display: flex;margin-left: 2.2%">
                    <div style="width: 10%;">&nbsp;</div>
                    <div style="width: 70%;border-bottom: 1px solid black;">&nbsp;</div>
                </div>
                
                <div style="width:92%;display: flex;margin-left: 2.2%">
                    <div style="width: 10%;">&nbsp;</div>
                    <div style="width: 25%;border-bottom: 1px solid black;">&nbsp;</div>
                    <div style="margin-left:10px;width: 5%;">Code postal :</div>
                    <div style="width: 25%;border-bottom: 1px solid black;">&nbsp;</div>
                    
                </div>
                

        </div>
        
        
    </div>
    
    
  
</div>