<div class="mceTmpl" style="width: 725px;" data-mce-style="width: 725px;">
	<div class="mceTmpl" style="width: 725px;" data-mce-style="width: 725px;">
		<img style="height: 50px;" src="../../resources/img/centre_prof_alma.jpg" alt="" width="150" height="50" data-mce-src="../../resources/img/centre_prof_alma.jpg" data-mce-style="height: 50px;">
			<hr>
				<div>
					<h5 style="text-align: center;" data-mce-style="text-align: center;">PROTOCOLE D'ENTENTE
						<br>STAGE EN FORMATION PROFESSIONNELLE
							<br>ALTERNANCE TRAVAIL-ÉTUDES
							</h5>
						</div>
						<div style="border: 1px solid black; padding: 5px; width: 725px;" data-mce-style="border: 1px solid black; padding: 5px; width: 725px;">
							<p>Le présent protocole d'entente stipule les engagements et les responsabilités (voir au verso) de chacun des partenaires représentés par les parties identifiées ci-après. Ce contrat peut, après entente, être résilié en tout temps par l'une ou l'autre des parties.</p>
							<hr>
								<div>
									<table class="mce-item-table">
										<tbody>
											<tr>
												<td>
													<strong>1.</strong>
												</td>
												<td>
													<strong style="margin-left: 15px;" data-mce-style="margin-left: 15px;">LE CENTRE DE FORMATION PROFESSIONNELLE {ETUDIANT.SCHOOL}</strong>
												</td>
											</tr>
										</tbody>
									</table>
									<table class="mce-item-table">
										<tbody>
											<tr>
												<td>
													<span style="margin-left: 30px;" data-mce-style="margin-left: 30px;">Adresse :</span>
												</td>
												<td style="width: 500px; border-bottom: 1px solid black;" data-mce-style="width: 500px; border-bottom: 1px solid black;">850, Avenue Bégin Sud</td>
											</tr>
											<tr>
												<td>&nbsp;</td>
												<td style="width: 500px; border-bottom: 1px solid black;" data-mce-style="width: 500px; border-bottom: 1px solid black;">Alma</td>
											</tr>
										</tbody>
									</table>
									<table class="mce-item-table">
										<tbody>
											<tr>
												<td style="width: 84px;" data-mce-style="width: 84px;">&nbsp;</td>
												<td style="width: 250px; border-bottom: 1px solid black;" data-mce-style="width: 250px; border-bottom: 1px solid black;">&nbsp;</td>
												<td>
													<span style="margin-left: 5px;" data-mce-style="margin-left: 5px;">Code Postal :</span>
												</td>
												<td style="width: 158px; border-bottom: 1px solid black;" data-mce-style="width: 158px; border-bottom: 1px solid black;">G8B 5W2</td>
											</tr>
										</tbody>
									</table>
									<table class="mce-item-table">
										<tbody>
											<tr>
												<td>
													<span style="margin-left: 15px;" data-mce-style="margin-left: 15px;">Téléphone :</span>
												</td>
												<td style="width: 500px; border-bottom: 1px solid black;" data-mce-style="width: 500px; border-bottom: 1px solid black;">669-6041</td>
											</tr>
										</tbody>
									</table>
									<table class="mce-item-table">
										<tbody>
											<tr>
												<td>
													<span style="margin-left: 30px;" data-mce-style="margin-left: 30px;">Courriel :</span>
												</td>
												<td style="width: 500px; border-bottom: 1px solid black;" data-mce-style="width: 500px; border-bottom: 1px solid black;">{ENSEIGNANT.EMAIL_CS}</td>
											</tr>
										</tbody>
									</table>
									<table class="mce-item-table">
										<tbody>
											<tr>
												<td>
													<span style="margin-left: 0px;" data-mce-style="margin-left: 0px;">Responsable :</span>
												</td>
												<td style="width: 500px; border-bottom: 1px solid black;" data-mce-style="width: 500px; border-bottom: 1px solid black;">{ENSEIGNANT.NAME}</td>
											</tr>
										</tbody>
									</table>
									<table style="margin-top: 20px;" data-mce-style="margin-top: 20px;" class="mce-item-table">
										<tbody>
											<tr>
												<td>
													<strong>2.</strong>
												</td>
												<td>
													<strong style="margin-left: 15px;" data-mce-style="margin-left: 15px;">L'ENTREPRISE :</strong>
												</td>
												<td style="width: 460px; border-bottom: 1px solid black;" data-mce-style="width: 460px; border-bottom: 1px solid black;">{EMPLOYEUR.EMPLOYER_NAME}</td>
											</tr>
										</tbody>
									</table>
									<table class="mce-item-table">
										<tbody>
											<tr>
												<td>
													<span style="margin-left: 30px;" data-mce-style="margin-left: 30px;">Adresse :</span>
												</td>
												<td style="width: 500px; border-bottom: 1px solid black;" data-mce-style="width: 500px; border-bottom: 1px solid black;">{EMPLOYEUR.ADDRESS}</td>
											</tr>
											<tr>
												<td>&nbsp;</td>
												<td style="width: 500px; border-bottom: 1px solid black;" data-mce-style="width: 500px; border-bottom: 1px solid black;">{EMPLOYEUR.CITY}</td>
											</tr>
										</tbody>
									</table>
									<table class="mce-item-table">
										<tbody>
											<tr>
												<td style="width: 84px;" data-mce-style="width: 84px;">&nbsp;</td>
												<td style="width: 250px; border-bottom: 1px solid black;" data-mce-style="width: 250px; border-bottom: 1px solid black;">&nbsp;</td>
												<td>
													<span style="margin-left: 5px;" data-mce-style="margin-left: 5px;">Code Postal :</span>
												</td>
												<td style="width: 158px; border-bottom: 1px solid black;" data-mce-style="width: 158px; border-bottom: 1px solid black;">{EMPLOYEUR.POSTAL_CODE}</td>
											</tr>
										</tbody>
									</table>
									<table class="mce-item-table">
										<tbody>
											<tr>
												<td>
													<span style="margin-left: 15px;" data-mce-style="margin-left: 15px;">Téléphone :</span>
												</td>
												<td style="width: 500px; border-bottom: 1px solid black;" data-mce-style="width: 500px; border-bottom: 1px solid black;">{EMPLOYEUR.PHONE}</td>
											</tr>
										</tbody>
									</table>
									<table class="mce-item-table">
										<tbody>
											<tr>
												<td>
													<span style="margin-left: 30px;" data-mce-style="margin-left: 30px;">Courriel :</span>
												</td>
												<td style="width: 500px; border-bottom: 1px solid black;" data-mce-style="width: 500px; border-bottom: 1px solid black;">{EMPLOYEUR.EMAIL}</td>
											</tr>
										</tbody>
									</table>
									<table class="mce-item-table">
										<tbody>
											<tr>
												<td>
													<span style="margin-left: 0px;" data-mce-style="margin-left: 0px;">Responsable :</span>
												</td>
												<td style="width: 500px; border-bottom: 1px solid black;" data-mce-style="width: 500px; border-bottom: 1px solid black;">{EMPLOYEUR.CONTACT_NAME}</td>
											</tr>
										</tbody>
									</table>
									<table style="margin-top: 20px;" data-mce-style="margin-top: 20px;" class="mce-item-table">
										<tbody>
											<tr>
												<td>
													<strong>3.</strong>
												</td>
												<td>
													<strong style="margin-left: 15px;" data-mce-style="margin-left: 15px;">LE STAGIAIRE :</strong>
												</td>
											</tr>
										</tbody>
									</table>
									<table class="mce-item-table">
										<tbody>
											<tr>
												<td style="width: 120px;" data-mce-style="width: 120px;">Nom du stagiaire :</td>
												<td style="width: 165px; border-bottom: 1px solid black;" data-mce-style="width: 165px; border-bottom: 1px solid black;">{ETUDIANT.NAME}</td>
												<td style="width: 120px;" data-mce-style="width: 120px;">
													<span style="margin-left: 5px;" data-mce-style="margin-left: 5px;">Code permanent :</span>
												</td>
												<td style="width: 165px; border-bottom: 1px solid black;" data-mce-style="width: 165px; border-bottom: 1px solid black;">{ETUDIANT.GUID}</td>
											</tr>
										</tbody>
									</table>
									<table class="mce-item-table">
										<tbody>
											<tr>
												<td style="width: 120px;" data-mce-style="width: 120px;">Programme :</td>
												<td style="width: 165px; border-bottom: 1px solid black;" data-mce-style="width: 165px; border-bottom: 1px solid black;">{PROGRAMME.NAME}</td>
												<td style="width: 120px;" data-mce-style="width: 120px;">
													<span style="margin-left: 5px;" data-mce-style="margin-left: 5px;">NAS :</span>
												</td>
												<td style="width: 165px; border-bottom: 1px solid black;" data-mce-style="width: 165px; border-bottom: 1px solid black;">&nbsp;</td>
											</tr>
										</tbody>
									</table>
									<hr>
                                     <!--
										<table class="mce-item-table">
											<tbody>
												<tr>
													<td style="width: 600px;" data-mce-style="width: 600px;">
														<strong>Les dates de la séquence de formation en ATE sont les suivantes :</strong>
													</td>
													<td>
														<strong>Horaire du stage</strong>
													</td>
												</tr>
											</tbody>
										</table>

										<table class="mce-item-table">
											<tbody>
												<tr>
													<td style="width: 100px;" data-mce-style="width: 100px;">Séquence : 1</td>
													<td style="width: 140px;" data-mce-style="width: 140px;">Date de réalisation : Du</td>
													<td style="width: 130px; border-bottom: 1px solid black;" data-mce-style="width: 130px; border-bottom: 1px solid black;">{BLOC1.DATE_DEBUT}</td>
													<td style="width: 20px;" data-mce-style="width: 20px;">au</td>
													<td style="width: 130px; border-bottom: 1px solid black;" data-mce-style="width: 130px; border-bottom: 1px solid black;">{BLOC1.DATE_FIN}</td>
													<td style="width: 50px;" data-mce-style="width: 50px;">&nbsp;</td>
													<td style="width: 140px; border-bottom: 1px solid black;" data-mce-style="width: 140px; border-bottom: 1px solid black;">&nbsp;{BLOC1.HORAIRE}</td>
												</tr>
												<tr>
													<td style="width: 100px;" data-mce-style="width: 100px;">Séquence : 2</td>
													<td style="width: 140px;" data-mce-style="width: 140px;">Date de réalisation : Du</td>
													<td style="width: 130px; border-bottom: 1px solid black;" data-mce-style="width: 130px; border-bottom: 1px solid black;">{BLOC2.DATE_DEBUT}</td>
													<td style="width: 20px;" data-mce-style="width: 20px;">au</td>
													<td style="width: 130px; border-bottom: 1px solid black;" data-mce-style="width: 130px; border-bottom: 1px solid black;">{BLOC2.DATE_FIN}</td>
													<td style="width: 50px;" data-mce-style="width: 50px;">&nbsp;</td>
													<td style="width: 140px; border-bottom: 1px solid black;" data-mce-style="width: 140px; border-bottom: 1px solid black;">&nbsp;{BLOC2.HORAIRE}</td>
												</tr>
												<tr>
													<td style="width: 100px;" data-mce-style="width: 100px;">Séquence : 3</td>
													<td style="width: 140px;" data-mce-style="width: 140px;">Date de réalisation : Du</td>
													<td style="width: 130px; border-bottom: 1px solid black;" data-mce-style="width: 130px; border-bottom: 1px solid black;">{BLOC3.DATE_DEBUT}</td>
													<td style="width: 20px;" data-mce-style="width: 20px;">au</td>
													<td style="width: 130px; border-bottom: 1px solid black;" data-mce-style="width: 130px; border-bottom: 1px solid black;">{BLOC3.DATE_FIN}</td>
													<td style="width: 50px;" data-mce-style="width: 50px;">&nbsp;</td>
													<td style="width: 140px; border-bottom: 1px solid black;" data-mce-style="width: 140px; border-bottom: 1px solid black;">&nbsp;{BLOC3.HORAIRE}</td>
												</tr>
												<tr>
													<td style="width: 100px;" data-mce-style="width: 100px;">Séquence : 4</td>
													<td style="width: 140px;" data-mce-style="width: 140px;">Date de réalisation : Du</td>
													<td style="width: 130px; border-bottom: 1px solid black;" data-mce-style="width: 130px; border-bottom: 1px solid black;">{BLOC4.DATE_DEBUT}</td>
													<td style="width: 20px;" data-mce-style="width: 20px;">au</td>
													<td style="width: 130px; border-bottom: 1px solid black;" data-mce-style="width: 130px; border-bottom: 1px solid black;">{BLOC4.DATE_FIN}</td>
													<td style="width: 50px;" data-mce-style="width: 50px;">&nbsp;</td>
													<td style="width: 140px; border-bottom: 1px solid black;" data-mce-style="width: 140px; border-bottom: 1px solid black;">&nbsp;{BLOC4.HORAIRE}</td>
												</tr>
											</tbody>
										</table>
										<hr>
                                        -->

											<div>
												<h5 style="text-align: center;" data-mce-style="text-align: center;">SIGNATURE DES PARTIES</h5>
											</div>
											<p>Les parties reconnaissent avoir pris connaissance des termes de cette entente de partenariat, des conditions apparaissant au verso de la présente entente et s'engagent à en respecter les modalités.</p>
											<table class="mce-item-table">
												<tbody>
													<tr>
														<td>
															<strong>1.</strong>
														</td>
														<td>
															<strong style="margin-left: 15px;" data-mce-style="margin-left: 15px;">POUR LE CENTRE DE FORMATION :</strong>
														</td>
														<td style="width: 150px;" data-mce-style="width: 150px;">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table class="mce-item-table">
												<tbody>
													<tr>
														<td style="width: 220px; border-bottom: 1px solid black;" data-mce-style="width: 220px; border-bottom: 1px solid black;">&nbsp;{SIGNATURE_ENSEIGNANT}</td>
														<td style="width: 25px;" data-mce-style="width: 25px;">&nbsp;</td>
														<td style="width: 220px; border-bottom: 1px solid black;" data-mce-style="width: 220px; border-bottom: 1px solid black;">&nbsp;</td>
														<td style="width: 25px;" data-mce-style="width: 25px;">&nbsp;</td>
														<td style="width: 220px; border-bottom: 1px solid black;" data-mce-style="width: 220px; border-bottom: 1px solid black;">&nbsp;</td>
													</tr>
													<tr>
														<td style="text-align: center;" data-mce-style="text-align: center;">Signature</td>
														<td style="text-align: center;" data-mce-style="text-align: center;">&nbsp;</td>
														<td style="text-align: center;" data-mce-style="text-align: center;">Fonction</td>
														<td style="text-align: center;" data-mce-style="text-align: center;">&nbsp;</td>
														<td style="text-align: center;" data-mce-style="text-align: center;">Date</td>
													</tr>
												</tbody>
											</table>
											<table class="mce-item-table">
												<tbody>
													<tr>
														<td>
															<strong>2.</strong>
														</td>
														<td>
															<strong style="margin-left: 15px;" data-mce-style="margin-left: 15px;">POUR L'ENTREPRISE :</strong>
														</td>
														<td style="width: 150px;" data-mce-style="width: 150px;">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table class="mce-item-table">
												<tbody>
													<tr>
														<td style="width: 220px; border-bottom: 1px solid black;" data-mce-style="width: 220px; border-bottom: 1px solid black;">&nbsp;{SIGNATURE_EMPLOYEUR}</td>
														<td style="width: 25px;" data-mce-style="width: 25px;">&nbsp;</td>
														<td style="width: 220px; border-bottom: 1px solid black;" data-mce-style="width: 220px; border-bottom: 1px solid black;">&nbsp;</td>
														<td style="width: 25px;" data-mce-style="width: 25px;">&nbsp;</td>
														<td style="width: 220px; border-bottom: 1px solid black;" data-mce-style="width: 220px; border-bottom: 1px solid black;">&nbsp;</td>
													</tr>
													<tr>
														<td style="text-align: center;" data-mce-style="text-align: center;">Signature</td>
														<td style="text-align: center;" data-mce-style="text-align: center;">&nbsp;</td>
														<td style="text-align: center;" data-mce-style="text-align: center;">Fonction</td>
														<td style="text-align: center;" data-mce-style="text-align: center;">&nbsp;</td>
														<td style="text-align: center;" data-mce-style="text-align: center;">Date</td>
													</tr>
												</tbody>
											</table>
											<table class="mce-item-table">
												<tbody>
													<tr>
														<td>
															<strong>3.</strong>
														</td>
														<td>
															<strong style="margin-left: 15px;" data-mce-style="margin-left: 15px;">LE STAGIAIRE EN ATE :</strong>
														</td>
														<td style="width: 150px;" data-mce-style="width: 150px;">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table class="mce-item-table">
												<tbody>
													<tr>
														<td style="width: 480px; border-bottom: 1px solid black;" data-mce-style="width: 480px; border-bottom: 1px solid black;">&nbsp;{SIGNATURE_ELEVE}</td>
														<td style="width: 25px;" data-mce-style="width: 25px;">&nbsp;</td>
														<td style="width: 220px; border-bottom: 1px solid black;" data-mce-style="width: 220px; border-bottom: 1px solid black;">&nbsp;</td>
													</tr>
													<tr>
														<td style="text-align: center;" data-mce-style="text-align: center;">Signature</td>
														<td style="text-align: center;" data-mce-style="text-align: center;">&nbsp;</td>
														<td style="text-align: center;" data-mce-style="text-align: center;">Date</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
         <p style="page-break-before: always">
									<div>
										<h5 style="text-align: center;" data-mce-style="text-align: center;">&nbsp;</h5>
										<h5 style="text-align: center;" data-mce-style="text-align: center;">PROTOCOLE D'ENTENTE
											<br>STAGE EN FORMATION PROFESSIONNELLE
												<br>ALTERNANCE TRAVAIL-ÉTUDES
												</h5>
											</div>
											<hr>
												<table class="mce-item-table">
													<tbody>
														<tr>
															<td style="width: 360px;" data-mce-style="width: 360px;">
																<h6>1. LE CENTRE DE FORMATION PROFESSIONNELLE</h6>
															</td>
															<td style="width: 25px;" data-mce-style="width: 25px;">&nbsp;</td>
															<td style="width: 360px;" data-mce-style="width: 360px;">&nbsp;</td>
														</tr>
														<tr>
															<td style="width: 360px;" data-mce-style="width: 360px;">
																<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;">1.1. Certifie que le stagiaire est inscrit au centre de formation professionnelle et conserve son statut d'élève durant son stage.</span>
																<br>
																	<br>
																		<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> 1.2. Fournit à l'entreprise une copie du certificat d'assurance responsabilité en vigueur face aux dommages qui pourraient être causés par le stagiaire tout au long de son stage.</span>
																		<br>
																			<br>
																				<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> 1.3. Déclare que le stagiaire non rémunéré est couvert par le plan d'assurance de la CSST en vertu de la loi sur les accidents du travail et les maladies professionnelles (L.R.Q. chapitre A-3.001).</span>
																				<br>
																					<br>
																						<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> 1.4. Fournit à l'entreprise le formulaire « Attestation de participation à un stage de formation admissible » dans le cadre du crédit d'impôt, si stage en ATE.</span>
																						<br>
																							<br>
																								<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> 1.5. Désigne un enseignant-superviseur comme responsable du stage</span>
																							</td>
																							<td style="width: 25px;" data-mce-style="width: 25px;">&nbsp;</td>
																							<td style="width: 360px;" data-mce-style="width: 360px;">
																								<span style="margin-left: 10px; margin-top: 0px; font-size: 8pt;" data-mce-style="margin-left: 10px; margin-top: 0px; font-size: 8pt;">2.4. Désigne un accompagnateur qui organisera et supervisera le travail de l'élève.</span>
																								<br>
																									<br>
																										<strong>Le maître de stage :</strong>
																										<br>
																											<br>
																												<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;">a) accueille l'élève et le présente aux membres de son équipe de travail.</span>
																												<br>
																													<br>
																														<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> b) informe l'élève des règlements et politiques de l'entreprise.</span>
																														<br>
																															<br>
																																<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> c) assure l'application du plan de formation, si stage en ATE.</span>
																																<br>
																																	<br>
																																		<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> d) rend accessible à l'élève, les ressources humaines,physiques et matérielles nécessaires à sesapprentissages en milieu de travail.</span>
																																		<br>
																																			<br>
																																				<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> e) encadre les apprentissages et le travail de l'élève en utilisant le matériel pédagogique fourni par le centre.</span>
																																				<br>
																																					<br>
																																						<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> f) participe à l'évaluation en complétant les grilles d'appréciation.</span>
																																					</td>
																																				</tr>
																																				<tr>
																																					<td style="width: 360px;" data-mce-style="width: 360px;">
																																						<span style="margin-left: 10px;" data-mce-style="margin-left: 10px;">
																																							<strong>L'enseignant-superviseur :</strong>
																																						</span>
																																						<br>
																																							<br>
																																								<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;">a) assure la planification, l'organisation et la répartition des activités d'apprentissage de même que la démarche d'évaluation des apprentissages et de la sanction des acquis. </span>
																																								<br>
																																									<br>
																																										<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> b) prépare le maître de stage à recevoir le stagiaire, le guide en clarifiant le plan de formation et en expliquant les objectifs d'apprentissage que l'élève aura a atteindre dans le cadre des tâches effectuées. </span>
																																										<br>
																																											<br>
																																												<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> c) visite le lieu de stage dans le but de superviser l'atteinte des objectifs du plan de formation et de conseiller le maître de stage et/ou le stagiaire. </span>
																																												<br>
																																													<br>
																																														<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> d) supporte le maître de stage dans ses activités de formation et d'encadrement du stagiaire, si ATE.</span>
																																														<br>
																																															<br>
																																																<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> e) s'assure du respect des objectifs du stage.</span>
																																																<br>
																																																	<br>
																																																		<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> f) prend en considération toute remarque du maître de stage concernant l'organisation du stage, la formation du stagiaire et les activités réalisées. </span>
																																																		<br>
																																																			<br>
																																																				<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> g) recueille les commentaires du stagiaire sur le déroulement du stage. </span>
																																																				<br>
																																																					<br>
																																																						<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> h) collabore avec l'entreprise dans le cas d'un problème particulier.</span>
																																																						<br>
																																																							<br>
																																																								<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> i) dispense en institution l'enseignement complémentaire requis, si stage en ATE.</span>
																																																								<h6>
																																																									<span style="font-size: 8pt;" data-mce-style="font-size: 8pt;">2. L'ENTREPRISE</span>
																																																								</h6>
																																																								<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;">2.1. Permet à l'enseignant-superviseur d'effectuer des visites dans l'entreprise et coopère avec ce dernier à l'évaluation du stagiaire.</span>
																																																								<br>
																																																									<br>
																																																										<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> 2.2. Fait travailler le stagiaire selon les horaires déterminés par l'enseignant-superviseur et le maître de stage en entreprise (en dehors de l'entente avec l'enseignantsuperviseur, le stagiaire sera alors considéré comme employé de l'entreprise et le Centre FP se dégage de toutes responsabilités)</span>
																																																										<br>
																																																											<br>
																																																												<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> 2.3. Prend sous sa responsabilité, les bris de tout matériel mis à la disposition et utilisé par l'élève à moins que des preuves d'une utilisation abusive puissent être démontrées.</span>
																																																											</td>
																																																											<td style="width: 25px;" data-mce-style="width: 25px;">&nbsp;</td>
																																																											<td style="width: 360px;" data-mce-style="width: 360px;">
																																																												<span style="margin-left: 10px;" data-mce-style="margin-left: 10px;">
																																																													<br>
																																																														<span style="font-size: 8pt;" data-mce-style="font-size: 8pt;">h) signale tout accident ou incident à l'enseignant superviseur.</span>
																																																													</span>
																																																													<br>
																																																														<br>
																																																															<span style="font-size: 8pt;" data-mce-style="font-size: 8pt;">
																																																																<span style="margin-left: 10px;" data-mce-style="margin-left: 10px;">i) assure à l'élève un support adéquat, conforme au processus d'acquisition de compétences.</span>
																																																																<span style="margin-left: 10px;" data-mce-style="margin-left: 10px;">g) assume les responsabilités du matériel, de l'équipement et de la production effectuée par l'élève.</span>
																																																															</span>
																																																															<br>
																																																																<br>
																																																																	<h6>3. LE STAGIAIRE</h6>
																																																																	<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;">3.1. Suit les règlements de l'entreprise. </span>
																																																																	<br>
																																																																		<br>
																																																																			<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> 3.2. Respecte la confidentialité interne de l'entreprise qui le reçoit. </span>
																																																																			<br>
																																																																				<br>
																																																																					<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> 3.3. Observe l'horaire en vigueur dans l'entreprise en fonction des besoins de formation.</span>
																																																																					<br>
																																																																						<br>
																																																																							<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> 3.4. Porte une tenue vestimentaire appropriée, soigne son langage, manifeste une attitude respectueuse et une conduite convenable. </span>
																																																																							<br>
																																																																								<br>
																																																																									<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> 3.5. Respecte la propriété des autres. </span>
																																																																									<br>
																																																																										<br>
																																																																											<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> 3.6. Participe à sa démarche de formation en milieu de travail en effectuant les travaux pratiques établis au plan de formation en collaboration avec son maître de stage. </span>
																																																																											<br>
																																																																												<br>
																																																																													<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> 3.7. Avise le maître de stage et l'enseignant-superviseur de tout problème survenant au cours du stage.</span>
																																																																													<br>
																																																																														<br>
																																																																															<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> 3.8. Respecte l'éthique professionnelle du métier et accepte les exigences et les implications de ses tâches. </span>
																																																																															<br>
																																																																																<br>
																																																																																	<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> 3.9. Informe l'employeur et l'enseignant-superviseur en cas d'absence ou de retard. </span>
																																																																																	<br>
																																																																																		<br>
																																																																																			<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> 3.10. Complète les rapports exigés par l'enseignant-superviseur. </span>
																																																																																			<br>
																																																																																				<br>
																																																																																					<span style="margin-left: 10px; font-size: 8pt;" data-mce-style="margin-left: 10px; font-size: 8pt;"> 3.11. Ne remplace d'aucune manière des employés dans l'entreprise.</span>
																																																																																				</td>
																																																																																			</tr>
																																																																																		</tbody>
																																																																																	</table>



<p style="page-break-before: always">

<div>
    <h5 style="text-align: center;" data-mce-style="text-align: center;">HORAIRE DU STAGE</h5>
</div>
        
<p>{STAGE.SCHEDULE}</p> 
<!--        
<table class="mce-item-table" border=1>
    <thead style="background-color:black;border:unset !important;">
        <th style="text-align:center;width:100px;border:unset !important;background-color:black;background-color:black;color:white;"></th>
        <th style="text-align:center;width:100px;border:unset !important;background-color:black;color:white;">DE</th>
        <th style="text-align:center;width:100px;border:unset !important;background-color:black;color:white;">À</th>
        <th style="text-align:center;width:100px;border:unset !important;background-color:black;color:white;">DE</th>
        <th style="text-align:center;width:100px;border:unset !important;background-color:black;color:white;">À</th>
        <th style="text-align:center;width:100px;border:unset !important;background-color:black;color:white;">FERMÉ</th>
        <th style="text-align:center;width:100px;border:unset !important;background-color:black;color:white;">TOTAL</th> 
    </thead>
    <tbody>
	    <tr>
            <td style="text-align:center;width:100px;">LUNDI</td>
            <td style="text-align:center;width:100px;">8:00</td>
            <td style="text-align:center;width:100px;">12:00</td>
            <td style="text-align:center;width:100px;">13:00</td>
            <td style="text-align:center;width:100px;">16:00</td>
            <td style="text-align:center;width:100px;"></td>
            <td style="text-align:center;width:100px;">7</td>
		</tr>
        <tr>
            <td style="text-align:center;width:100px;">MARDI</td>
            <td style="text-align:center;width:100px;">8:00</td>
            <td style="text-align:center;width:100px;">12:00</td>
            <td style="text-align:center;width:100px;">13:00</td>
            <td style="text-align:center;width:100px;">16:00</td>
            <td style="text-align:center;width:100px;"></td>
            <td style="text-align:center;width:100px;">7</td>
		</tr>
        <tr>
            <td style="text-align:center;width:100px;">MERCREDI</td>
            <td style="text-align:center;width:100px;">8:00</td>
            <td style="text-align:center;width:100px;">12:00</td>
            <td style="text-align:center;width:100px;">13:00</td>
            <td style="text-align:center;width:100px;">16:00</td>
            <td style="text-align:center;width:100px;"></td>
            <td style="text-align:center;width:100px;">7</td>
		</tr>
        <tr>
            <td style="text-align:center;width:100px;">JEUDI</td>
            <td style="text-align:center;width:100px;">8:00</td>
            <td style="text-align:center;width:100px;">12:00</td>
            <td style="text-align:center;width:100px;">13:00</td>
            <td style="text-align:center;width:100px;">16:00</td>
            <td style="text-align:center;width:100px;"></td>
            <td style="text-align:center;width:100px;">7</td>
		</tr>
        <tr>
            <td style="text-align:center;width:100px;">VENDREDI</td>
            <td style="text-align:center;width:100px;">8:00</td>
            <td style="text-align:center;width:100px;">12:00</td>
            <td style="text-align:center;width:100px;">13:00</td>
            <td style="text-align:center;width:100px;">16:00</td>
            <td style="text-align:center;width:100px;"></td>
            <td style="text-align:center;width:100px;">7</td>
		</tr>
        <tr>
            <td style="text-align:center;width:100px;">SAMEDI</td>
            <td style="text-align:center;width:100px;">8:00</td>
            <td style="text-align:center;width:100px;">12:00</td>
            <td style="text-align:center;width:100px;">13:00</td>
            <td style="text-align:center;width:100px;">16:00</td>
            <td style="text-align:center;width:100px;background-color:gray;"></td>
            <td style="text-align:center;width:100px;">0</td>
		</tr>
        <tr>
            <td style="text-align:center;width:100px;">DIMANCHE</td>
            <td style="text-align:center;width:100px;">8:00</td>
            <td style="text-align:center;width:100px;">12:00</td>
            <td style="text-align:center;width:100px;">13:00</td>
            <td style="text-align:center;width:100px;">16:00</td>
            <td style="text-align:center;width:100px;background-color:gray;"></td>
            <td style="text-align:center;width:100px;">0</td>
		</tr>
	</tbody>
</table>
-->
</div>
</div>