<div class="mceTmpl"><img style="height: 80px;" src="../../resources/img/centre_prof_alma.jpg" alt="" /><hr />
<div>
<h3 style="text-align: center;">PROTOCOLE D'ENTENTE<br />STAGE EN FORMATION PROFESSIONNELLE<br />ALTERNANCE TRAVAIL-&Eacute;TUDES</h3>
</div>
<div style="border: 1px solid black; padding: 5px;">
<p>Le pr&eacute;sent protocole d'entente stipule les engagements et les responsabilit&eacute;s (voir au verso) de chacun des partenaires repr&eacute;sent&eacute;s par les parties identifi&eacute;es ci-apr&egrave;s. Ce contrat peut, apr&egrave;s entente, &ecirc;tre r&eacute;sili&eacute; en tout temps par l'une ou l'autre des parties.</p>
<hr />
<div>
<p><strong>1.</strong><strong style="margin-left: 1%;">LE CENTRE DE FORMATION PROFESSIONNELLE {ETUDIANT.SCHOOL}</strong></p>
<div style="width: 100%; display: flex; margin-left: 2.2%;">
<div style="width: 15%;">Adresse :</div>
<div style="width: 50%; border-bottom: 1px solid black;">&nbsp;850, Avenue B&eacute;gin Sud</div>
</div>
<div style="width: 100%; display: flex; margin-left: 2.2%;">
<div style="width: 15%;">&nbsp;</div>
<div style="width: 50%; border-bottom: 1px solid black;">&nbsp;Alma</div>
</div>
<div style="width: 100%; display: flex; margin-left: 2.2%;">
<div style="width: 15%;">&nbsp;</div>
<div style="width: 25%; border-bottom: 1px solid black;">&nbsp;</div>
<div style="width: 8%;">Code postal :</div>
<div style="width: 17%; border-bottom: 1px solid black;">&nbsp;G8B 5W2</div>
</div>
</div>
</div>
</div>